$breakpoint-ipadpro: 1024px;


.contactSection {
  padding: 10%;
  display: flex;
  justify-content: center;
  font-size: 22px;
}

.contactText {
  display: inline-block;
  vertical-align: middle;
  justify-content: center;
  // line-height: normal;
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 120px 20px 20px;
  .icon {
    padding: 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    &:hover {
      color: grey;
    }
  }
}

#contactForm {
  vertical-align: middle;

  margin: 0 auto;
  float: right;
  // box-sizing: content-box;
  min-width: 444px;
  // border: 1px solid black;
}

#contactForm input,
textarea {
  letter-spacing: 2px;
  font: 200 1em/1.1em "Helvetica Neue", sans-serif;
  box-sizing: content-box;
  color: #000;
  background-color: #d7d7d7;

  outline: none;
  border: none;

  display: block;
  margin: 0 auto;
  padding: 1em;
  width: 90%;
  max-width: 400px;
}

#contactForm textarea {
  height: 150px;
}

#contactForm *:focus {
  background-color: lightgrey;
}

#contactForm *:hover {
  background-color: lightgrey;
}

::-webkit-input-placeholder {
  color: #777;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #777;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #777;
}

:-ms-input-placeholder {
  color: #777;
}

@media (max-width: $breakpoint-ipadpro) {
  .contactSection {
    padding-top: 10px;
  }
  div.contactContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
}