$breakpoint-ipadpro: 1024px;
$breakpoint-ipad: 768px;
$breakpoint-iphone6-7-8: 414px;

.contactContainer {
  padding: 0px;
  justify-content: middle;
  align-items: center;
}
.contactSection {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 27px;
  div.contactHolder {
    padding-top: 100px;
    display: inline-block;
    align-items: center;
    // vertical-align: middle;
    line-height: normal;
    margin: auto;
    width: 50%;
    div.contactText {
      display: inline-block;
      vertical-align: middle;
      justify-content: center;
      line-height: normal;
      text-align: justify;
      // margin: auto;
      width: 50%;
      padding: 30px 20px 20px;
    }
  }
  .icon {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    &:hover {
      color: grey;
    }
  }
}

#contactForm {
  vertical-align: middle;
  margin: 0 auto;
  float: right;
  padding: 100px;
  padding-left: 0px;
  box-sizing: content-box;
  min-width: 600px;
}

#contactForm input,
textarea {
  letter-spacing: 2px;
  font: 200 1em/1.1em "Helvetica Neue", sans-serif;
  box-sizing: content-box;
  color: #000;
  background-color: #d7d7d7;

  outline: none;
  border: none;

  display: block;
  margin: 0 auto;
  padding: 1em;
  width: 90%;
  max-width: 500px;
}

#contactForm textarea {
  height: 150px;
}

#contactForm *:focus {
  background-color: lightgrey;
}

#contactForm *:hover {
  background-color: lightgrey;
}

::-webkit-input-placeholder {
  color: #777;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #777;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #777;
}

:-ms-input-placeholder {
  color: #777;
}

@media (max-width: $breakpoint-ipadpro) {
  .contactSection {
    padding-top: 10px;
    div.contactHolder {
      // display: column;

      // background-color: red;
      line-height: normal;
      text-align: left;
      margin: 0px;
      width: 50%;
      padding: 100px 0px 0px;
      padding-left: 70px;
      div.contactText {
        display: row;
        line-height: normal;
        text-align: justify;
        margin: auto;
        margin: 0px;
        width: 100%;
        padding: 0px 0px 0px;
      }
    }
  }
  div.contactContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: 0px;
  }

  #contactForm {
    padding: 100px;
  }
}

@media (max-width: $breakpoint-ipadpro) {
  .contactSection {
    div.contactHolder {
      padding-left: 35px;
    }
  }
}

@media (max-width: $breakpoint-iphone6-7-8 414px) {
  .contactSection {
    font-size: 20px;
    div.contactHolder {
      // width: 50%;
      div.contactText {
        padding: 30px 20px 20px;
        font-size: 20px;
      }
    }
    .icon {
      display: inline-block;
      vertical-align: middle;
      padding: 10px;
      height: 50px;
      width: 50px;
      cursor: pointer;
      &:hover {
        color: grey;
      }
    }
  }

  #contactForm {
    vertical-align: middle;
    margin: 0 auto;
    float: right;
    padding: 100px;
    padding-left: 0px;
    box-sizing: content-box;
    min-width: 300px;
  }

  #contactForm input,
  textarea {
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 90%;
    max-width: 400px;
  }

  #contactForm textarea {
    height: 150px;
  }
}
