$breakpoint-ipadpro: 1024px;
$breakpoint-ipad: 768px;
$breakpoint-galaxy-s4: 360px;
$breakpoint-tablet: 768px;
$breakpoint-iphone6-7-8: 375px;

.App-header {
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #fdfdfd;
  height: 100vh;
}

.homeSection {
  padding-top: 25px;
  display: flex;
  justify-content: center;
  font-size: 30px;
  div.homeTextContainer {
    display: inline-block;
    align-items: center;
    vertical-align: middle;
    line-height: normal;
    text-align: center;
    margin: auto;
    width: 50%;
    img.profilePic {
      max-height: 1000px;
      display: flex;
      max-width: 50%;
    }
  }
}

section.aboutSection {
  padding-top: 70px;
  padding: 105px;
  display: flex;
  justify-content: center;
  text-align: justify;
  font-size: 20px;
  div.aboutContainer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    div.aboutTextContainer {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
      padding: 25px;
      width: 50%;
      // box-sizing: border-box;
      margin: 20px;
      text-align: justify;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

    }
  }
}

h1 {
  padding: 0 0 10px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.faImages {
  padding: 5%;
  .icon {
    padding: 5px;
    height: 50px;
    width: 50px;
    color: black;
    cursor: pointer;
    &:hover {
      color: grey;
    }
  }
}

.aboutSkill {
  background-color: lightgrey;
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  max-width: 50%;
  border: solid 5px white;
  border-radius: 5px;
  opacity: 0.9;
  padding-bottom: 0px;
  .skillDiv {
    
    padding: 15px;
    font-size: 18px;
    .skillIcon {
      padding: 15px;
      height: 70px;
      width: 70px;
      // background-color: #efcb68;
      color: black;
    }
  }
}

@media (max-width: $breakpoint-ipadpro) {
  section.homeSection {
    height: 100vh;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    div.homeTextContainer {
      display: inline-block;
      align-items: center;
      vertical-align: middle;
      line-height: normal;
      text-align: center;
      margin: auto;
      padding: 50px;
    }
  }

  img.profilePic {
    display: flex;
    min-height: 1100px;
    max-width: inherit;
    margin: 0;
  }

  section.aboutSection {
    margin: 0;
    padding-bottom: 20px;
    div.aboutContainer {
      display: flex;
      flex-direction: column-reverse;
      div.aboutTextContainer {
        width: auto;
        font-size: 28px;
      }
    }
  }

  div.aboutSkill {
    // width: auto;
    max-width: fill;
  }
}

@media (max-width: $breakpoint-ipad) {
  section.homeSection {
    padding-top: 35px;
  }

  img.profilePic {
    min-height: 800px;
  }

  section.aboutSection {
    margin: 0;
    padding: 99px;
    
    div.aboutContainer {
      display: flex;
      flex-direction: column-reverse;
      div.aboutTextContainer {
        width: auto;
        font-size: 28px;
      }
    }
  }

  div.aboutSkill {
    // width: auto;
    max-width: fill;
  }
}
